# Dependencies
node_modules/
FRONTEND/node_modules/
BACKEND/node_modules/

# Build outputs
FRONTEND/dist/
FRONTEND/dist-electron/
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Electron
FRONTEND/electron-builder.yml
FRONTEND/out/
